<tr>
  <td><%= cl_image_tag(recipe.photo.thumbnail.url, alt: recipe.name) %></td>
  <td><%= link_to recipe.name, recipe %></td>
  <td><%= recipe.serves %> pessoas</td>
  <td><%= recipe.level %></td>
</tr>
