<%= link_to 'New recipe', new_recipe_path %>

<div class='recipes'>
  <table class="table table-striped">
    <tr>
      <th>Receita</th>
      <th>Serve </th>
      <th>Dificuldade</th>
    </tr>
    <%= render @recipes %>
  </table>
</div>
