<%= simple_form_for @cuisine do |f| %>
  <div class='col-md-6'>
    <%= f.input :description, label: 'Cozinha', placeholder: 'Italiana' %>
  </div>
  <div class='col-md-12'>
    <%= link_to 'Voltar', cuisines_path, class: 'btn btn-default' %>
    <%= f.submit "#{action} cozinha", class: 'btn btn-default' %>
  </div>
<% end %>
