<div class='cuisine'>
  <h1>Cozinha</h1>

  <div class="row">
    <div class="col-md-6">
      <p><%= @cuisine.description %></p>
    </div>
  </div>
</div>


<%= link_to 'Voltar', cuisines_path, class: 'btn btn-default' %>
