<%= link_to 'Add Preferência', new_preference_path %>

<div class='preferences'>
  <table class="table table-striped">
    <tr>
      <th>Descrição</th>
    </tr>
    <%= render @preferences %>
  </table>
</div>
